@model IEnumerable<OrderModel>
@{
    ViewData["title"] = "Orders Listed";
}

<h3>Your Orders</h3>

<table class="table">
    <thead>
        <tr>
            
            <th scope="col">Orders Code</th>
            <th scope="col">Email</th>
            <th scope="col">Orders Date</th>
            <th scope="col">Orders Status</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.OrderCode</th>
                <td>@item.UserName</td>
                <td>@item.CreatedDate</td>
                <td>
                    @if (@item.Status == 1)
                    {
                        <span class="text text-success">Đơn hàng mới</span>
                    }
                    else
                    {
                        <span class="text text-danger">Đơn hàng thành công</span>
                    }
                </td>

                <td>
                    <a asp-action="ViewOrder" class="btn btn-warning btn-sm " asp-controller="Order" asp-route-ordercode="@item.OrderCode">View Order</a>
                    <a asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="Order" asp-route-ordercode="@item.OrderCode">Delete</a>
                </td>

            </tr>
        }

    </tbody>
</table>